<configuration  scan="true" debug="true" >

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{50} [%file:%line] - %msg%n</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/export/Logs/stmanagementsystem.xiahongyun.ccnu.com/app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>/export/Logs/stmanagementsystem.xiahongyun.ccnu.com/app-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- each file should be at most 100MB, keep 30 days worth of history, but at most 20GB -->
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%date %-5level [%thread] %logger{50} [%file:%line] %msg%n</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>


    <!--<root level="${logger.root.level}">-->
    <root>
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>

    <logger name="org.springframework.boot.autoconfigure.logging.AutoConfigurationReportLoggingInitializer" level="INFO" />
    <logger name="org.springframework.transaction" level="INFO" />
    <logger name="org.springframework.web" level="INFO" />
    <logger name="org.springframework.http" level="INFO" />

    <logger name="com.ccnu.xiahongyun.stmanagementsystem" level="INFO"/>

</configuration>
