<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Hello Thymeleaf!</title>
</head>
<body>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

<script>
   $.ajax({
       url:"/register/regist",
       type:"get",
       contentType:"application/json",
       success:function(result){
            console.log(result)
       }


   });

var ss=
   {
       examid : 11111,
       name :"冯越",
       id : 1111,
       sid : 111
   }

   $.ajax({
       url:"/register/get",
       type:"GET",
       dataType:"json",
       data:JSON.stringify(ss),
       contentType:"application/json",
       success:function(result){
           console.log(result)
       }


   });
</script>

</body>



</html>