<!DOCTYPE html>
<html>
<head>
    <meta charset=" utf-8" />
    <title>iview example</title>
    <style>
    </style>

</head>
<body style="background: #f1f1f1">

<link href="https://static.360buyimg.com/popd/popd_common/css/pop-design.min.css" type="text/css" rel="stylesheet">
<script src="https://static.360buyimg.com/popd/js/vue.min.js" type="text/javascript"></script>
<script src="https://static.360buyimg.com/popd/popd_common/pop-design.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/js/vue-router-0.7.10.js"></script>
<script type="text/javascript" src="/js/vue-resource-1.3.4.min.js"></script>
<script type="text/javascript" src="/js/countdown.js"></script>
<script type="text/javascript" src="/js/vue.config.js"></script>

<div id="root">
    <router-view></router-view>
</div>

<script type="text/x-template" id="register">
    <div id="rootApp">
        <router-view></router-view>
        <p-card class="form" v-if="registerVisible">
            <p slot="title" style="text-align:center;">
                <span style="color: #e3e8ee;font-size: 20px">注册</span>
            </p>
            <p-form  v-ref:user :rules="ruleInline" label-position="right" >
                <p-form-item rule-key="user" :value="user.name">
                    <p-input style="width: 300px" type="text" :value.sync="user.name" placeholder="请输入用户名">
                        <p-icon type="ios-person-outline" slot="prepend"></p-icon>
                    </p-input>
                </p-form-item>

                <p-form-item rule-key="email" :value="user.email">
                    <p-input style="width: 300px" type="email" :value.sync="user.email" placeholder="请输入邮箱">
                        <p-icon type="ios-email-outline" slot="prepend"></p-icon>
                    </p-input>
                </p-form-item>

                <p-form-item rule-key="password" :value="user.pwd">
                    <p-input style="width: 300px" type="password" :value.sync="user.pwd" placeholder="请输入用密码">
                        <p-icon type="ios-locked-outline" slot="prepend"></p-icon>
                    </p-input>
                </p-form-item>
                <p-form-item rule-key="repassword" :value="repassword">
                    <p-input style="width: 300px" type="password" :value.sync="repassword" placeholder="请确认密码">
                        <p-icon type="ios-locked-outline" slot="prepend"></p-icon>

                    </p-input>
                </p-form-item>

                <p-form-item>
                    <p-button long shape ="circle" type="success" @click="registerSubmit('user')">注册</p-button>
                </p-form-item>
                <p-form-item style="text-align:right;">
                    <a href="#"  @click="showLogin">重新登录</a>
                </p-form-item>
            </p-form>
        </p-card>

        <p-card class="form" v-if="loginVisible">
            <p slot="title" style="text-align:center;">
                <span style="color: #e3e8ee;font-size: 20px">登录</span>
            </p>
            <p-form v-ref:user :rules="ruleInline" label-position="right" >

                <p-form-item rule-key="email" :value="user.email">
                    <p-input size ="large" style="width: 300px" type="email" :value.sync="user.email" placeholder="请输入邮箱">
                        <p-icon type="ios-email-outline" slot="prepend"></p-icon>
                    </p-input>
                </p-form-item>

                <p-form-item rule-key="password" :value="user.pwd">
                    <p-input size ="large"  style="width: 300px" type="password" :value.sync="user.pwd" placeholder="请输入密码">
                        <p-icon type="ios-locked-outline" slot="prepend"></p-icon>
                    </p-input>
                </p-form-item>

                <p-form-item>
                    <p-button long size ="large" shape ="circle" type="success" @click="loginSubmit('user')">登录</p-button>
                </p-form-item>
                <p-form-item style="text-align:right;">
                    <a href="#"  @click="showRegister">立即注册</a>
                </p-form-item>
                <!-- 这个user就是v-ref:user的uesr 这个是vue对组件起名字的方式 -->
            </p-form>
        </p-card>

    </div>
</script>
<script type="text/x-template" id="index">
    <div id="app">

        <p-menu mode="horizontal" :theme="theme" active-key="1">
            <p-menu-item key="1">
                <p-icon type="ios-paper"></p-icon>
                首页
            </p-menu-item>
            <p-menu-item key="2">
                <p-icon type="ios-people"></p-icon>
                用户管理
            </p-menu-item>
            <p-menu-item key="4" style="float: right" @click="logout">
                <p-icon type="log-out"></p-icon>
                <a v-link="{path:'/'}">退出</a>
            </p-menu-item>
            <p-menu-item key="5" style="float: right">
                <p-icon type="settings"></p-icon>
                {{register.email}}
            </p-menu-item>

        </p-menu>
        <div id="menubar" style="display: inline-block; float: left; width: 20%; height: 100%">
            <p-menu class="width" :theme="theme">
                <p-menu-item key="1-1"><p-icon type="stats-bars"></p-icon><a v-link="{path:'/index/:email/examroom'}">考场信息管理</a></p-menu-item>
                <p-menu-item key="1-1"><p-icon type="stats-bars"></p-icon><a v-link="{path:'/index/:email/examroom'}">考生信息管理</a></p-menu-item>
                <p-menu-item key="1-1"><p-icon type="stats-bars"></p-icon><a v-link="{path:'/index/:email/examroom'}">监考人员信息管理</a></p-menu-item>
                <p-menu-item key="1-1"><p-icon type="stats-bars"></p-icon><a v-link="{path:'/index/:email/examroom'}">教室信息管理</a></p-menu-item>
                <p-menu-item key="1-1"><p-icon type="stats-bars"></p-icon><a v-link="{path:'/index/:email/examroom'}">考试科目信息管理</a></p-menu-item>
            </p-menu>
            <br>
            </p-form>
        </div>

        <div id="detailmenu" style="height: 500px; float: left; width: 80%">
            <router-view></router-view>
        </div>
    </div>
</script>

<script type="text/x-template" id="examroom">
    <div id="example-2" style="width: 100%">
        <button @click="show = !show" style="width: 50px;color: white; border-color: white;border: 0px;background: red; float: right">菜单</button>
        <button  v-if="show" style="width: 100px;color: white; border-color: white;border: 0px;background: red; float: right">增加</button>
        <button v-if="show" style="width: 100px;color: white; border-color: white;border: 0px;background: red; float: right">删除</button>
        <button v-if="show" style="width: 100px;color: white; border-color: white;border: 0px;background: red; float: right">修改</button>
    </div>
    <div class="shopweb-card-body" style="margin-top: 20px; padding: 5px">
        <p-form :label-width="80" label-position="right">
            <p-row :gutter="10">
                <p-col span="8">
                    <p-form-item label="考场编号">
                        <p-input :value.sync="complainingQuery.complainingId" placeholder="请输入考场编号..." @keyup="digitalCheck" @blur="digitalCheck" style="width:240px"></p-input>
                    </p-form-item>
                </p-col>
                <p-col span="8">
                    <p-form-item label="监考人员编号">
                        <p-input :value.sync="complainingQuery.orderId" placeholder="请输入监考人员编号..." @keyup="digitalCheck" @blur="digitalCheck" style="width:240px"></p-input>
                    </p-form-item>
                </p-col>
                <p-col span="8">
                    <p-form-item label="教室编号">
                        <p-input :value.sync="complainingQuery.arbitId" placeholder="教室编号" @keyup="digitalCheck" @blur="digitalCheck" style="width:240px"></p-input>
                    </p-form-item>
                </p-col>
            </p-row>

            <p-row :gutter="10">
                <p-col span="8">
                    <p-form-item label="考试科目编号">
                        <p-input :value.sync="complainingQuery.complainingId" placeholder="请输入科目编号..." @keyup="digitalCheck" @blur="digitalCheck" style="width:240px" ></p-input>
                    </p-form-item>
                </p-col>
                <p-col span="8">
                    <p-form-item label="人数">
                        <p-input :value.sync="complainingQuery.orderId" placeholder="请输入人数..." @keyup="digitalCheck" @blur="digitalCheck" style="width:240px" ></p-input>
                    </p-form-item>
                </p-col>
            </p-row>

            <p style="text-align: center;margin-bottom: 15px;">
                <p-button type="primary" @click="submitComplainQuery" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;查询&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p-button>
                <p-button type="ghost" @click="reset" style="margin-left: 8px" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;重置&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p-button>
            </p>
        </p-form>

        <p-table :columns="columns8" :data="data7" size="small" v-ref:table></p-table>
        <p-page class="pageClass" :total="100"></p-page>
        <p-button type="primary" size="large" @click="exportData(1)" posi>
            <p-icon type="ios-download-outline"></p-icon> 导出原始数据</p-button>
        <p-button type="primary" size="large" @click="exportData(2)">
            <p-icon type="ios-download-outline"></p-icon> 导出排序和过滤后的数据</p-button>
        <p-button type="primary" size="large" @click="exportData(3)">
            <p-icon type="ios-download-outline"></p-icon> 导出自定义数据</p-button>

    </div>

</script>

<script type="text/x-template" id="red">
    <div style="background: red; width: 100%; height: 100%"></div>
</script>

<script type="text/x-template" id="blue">
    <div style="background: blue; width: 100%; height: 100%"></div>
</script>

<script type="text/x-template" id="green">
      <div style="background: green; width: 100%; height: 100%"></div>
</script>

<script>


    var LoginView;
    LoginView = Vue.extend({
        template: '#register',
        data: function () {
            var validatePass = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('请再次输入密码'));
                } else if (value !== this.user.pwd) {
                    callback(new Error('两次输入密码不一致!'));
                } else {
                    callback();
                }
            };
            var email = (rule, value, callback) => {
                var mal = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
                if (!value) {
                    return callback(new Error('不能为空'));
                }
                if (!(mal.test(value))) {
                    callback(new Error('请输入正确邮箱'));
                } else {
                    callback();
                }
            };
            return {
                ruleInline: {
                    user: [{
                        required: true,
                        message: '请填写用户名',
                    }],
                    password: [{
                        required: true,
                        message: '请填写密码',
                        trigger: 'blur',
                    }, {
                        type: 'string',
                        min: 6,
                        message: '密码长度不能小于6位',
                        trigger: 'blur',
                    }],
                    repassword: [{
                        required: true,
                        message: '请填写确认密码',
                        trigger: 'blur',
                    }, {
                        validator: validatePass,
                        trigger: 'blur',
                    }],
                    email: [{
                        required: true,
                        message: '请填写邮箱',
                        trigger: 'blur',
                    }, {
                        validator: email,
                        triger: 'blur',
                    }]
                },
                user: {
                    name: '',
                    pwd: '',
                    email: '',
                },
                repassword: '',
                theme: 'dark',
                loginVisible: true,
                registerVisible: false,
            }
        },
        methods: {

            registerSubmit: function (name) {
                this.$refs[name].validate(function (valid) {
                    if (valid) {
                        this.$http.post('/index/register', this.user).then(function (res) {
                            if (res.body.trim() == '注册成功') {
                                this.$Message.success(res.body);
                            }
                            else {
                                this.$Message.error(res.body + '!');
                            }
                        });
                    } else {
                        this.$Message.error('表单验证失败!');
                    }
                }.bind(this));
                //bind 是改变一个函数的this指向；这儿就是把function(valid)内部的this指向改成外面vue 的this（this劫持）
            },
            loginSubmit: function (name) {
                this.$refs[name].validate(function (valid) {
                    if (valid) {
                        this.$http.post('/index/login', this.user).then(function (res) {
                            if (res.body.trim() == '登录成功') {
                                this.$Message.success(res.body);
                                var url = '/index/'+this.user.email;
                                this.$router.go(url);
                            }
                            else {
                                this.$Message.error(res.body + '!');
                            }
                        });
                    } else {
                        this.$Message.error('表单验证失败!');
                    }
                }.bind(this));
                //bind 是改变一个函数的this指向；这儿就是把function(valid)内部的this指向改成外面vue 的this（this劫持）
            },
            showLogin: function () {
                this.loginVisible = true;
                this.registerVisible = false;
            },
            showRegister: function () {
                this.loginVisible = false;
                this.registerVisible = true;
            }
        },
    });

    var examroom = Vue.extend({
        template: '#examroom',
        data: function() {
            return{
                show: false,
                columns8: [{
                    "title": "名称",
                    "key": "name",
                    "fixed": "left",
                    "width": 200
                }, {
                    "title": "展示",
                    "key": "show",
                    "width": 150,
                    "sortable": true,
                    filters: [{
                        label: '大于4000',
                        value: 1
                    }, {
                        label: '小于4000',
                        value: 2
                    }],
                    filterMultiple: false,
                    filterMethod: function(value, row) {
                        if (value === 1) {
                            return row.show > 4000;
                        } else if (value === 2) {
                            return row.show < 4000;
                        }
                    }
                }, {
                    "title": "唤醒",
                    "key": "weak",
                    "width": 150,
                    "sortable": true
                }, {
                    "title": "登录",
                    "key": "signin",
                    "width": 150,
                    "sortable": true
                }, {
                    "title": "点击",
                    "key": "click",
                    "width": 150,
                    "sortable": true
                }, {
                    "title": "激活",
                    "key": "active",
                    "width": 150,
                    "sortable": true
                }, {
                    "title": "7日留存",
                    "key": "day7",
                    "width": 150,
                    "sortable": true
                }, {
                    "title": "30日留存",
                    "key": "day30",
                    "width": 150,
                    "sortable": true
                }, {
                    "title": "次日留存",
                    "key": "tomorrow",
                    "width": 150,
                    "sortable": true
                }, {
                    "title": "日活跃",
                    "key": "day",
                    "width": 150,
                    "sortable": true
                }, {
                    "title": "周活跃",
                    "key": "week",
                    "width": 150,
                    "sortable": true
                }, {
                    "title": "月活跃",
                    "key": "month",
                    "width": 150,
                    "sortable": true
                }],
                data7: [],
            }
        },
        methods: {
            exportData: function(type) {
                if (type === 1) {
                    this.$refs.table.exportCsv({
                        filename: '原始数据'
                    });
                } else if (type === 2) {
                    this.$refs.table.exportCsv({
                        filename: '排序和过滤后的数据',
                        original: false
                    });
                } else if (type === 3) {
                    this.$refs.table.exportCsv({
                        filename: '自定义数据',
                        columns: this.columns8.filter(function(col, index) {
                            return index < 4
                        }),
                        data: this.data7.filter(function(data, index) {
                            return index < 4
                        })
                    });
                }
            }
        }
    });

    var red = Vue.extend({
        template: '#red'
    })

    var blue = Vue.extend({
        template: '#blue'
    })

    var green = Vue.extend({
        template: '#green'
    })


    var App = Vue.extend({
        template: '#index',
        data: function() {
            return {
                theme: 'dark',
                register:{
                    name: '',
                    email: '',
                    password: '',
                }
            }
        },
        created:function () {
            this.register.email=this.$route.params.email;

        },
        methods: {
        }
    });

    var router = new VueRouter();

    var Root = Vue.extend({
        data:  function () {
            return {
                email: '',
            }
        }

    });
    router.map({
        '/': {name: 'main', component: LoginView},
        '/index/:email': {
            component: App,
            subRoutes: {
                '/examroom': {name: 'examRoom', component: examroom},

                '/red': {name: 'red', component: red},

                '/blue': {name: 'blue', component: blue},

                '/green': {name: 'green', component: green},
            }
        },
    });

    router.start(Root, '#root');
</script>

<link href="/css/app.css" rel="stylesheet" type="text/css"/>
</body>
</html>
