<!DOCTYPE html>
<html>
<head>
    <meta charset=" utf-8" />
    <title>iview example</title>
    <style>
    </style>

</head>
<body style="background: #f1f1f1">

<link href="https://static.360buyimg.com/popd/popd_common/css/pop-design.min.css" type="text/css" rel="stylesheet">
<script src="https://static.360buyimg.com/popd/js/vue.min.js" type="text/javascript"></script>
<script src="https://static.360buyimg.com/popd/popd_common/pop-design.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/js/vue-router-0.7.10.js"></script>
<script type="text/javascript" src="/js/vue-resource-1.3.4.min.js"></script>
<script type="text/javascript" src="/js/countdown.js"></script>
<script type="text/javascript" src="/js/vue.config.js"></script>

<div id="root">
    <router-view></router-view>
</div>

<script type="text/x-template" id="register">
    <div id="rootApp">
        <router-view></router-view>
        <p-card class="form" v-if="registerVisible">
            <p slot="title" style="text-align:center;">
                <span style="color: #e3e8ee;font-size: 20px">注册</span>
            </p>
            <p-form  v-ref:user :rules="ruleInline" label-position="right" >
                <p-form-item rule-key="user" :value="user.name">
                    <p-input style="width: 300px" type="text" :value.sync="user.name" placeholder="请输入用户名">
                        <p-icon type="ios-person-outline" slot="prepend"></p-icon>
                    </p-input>
                </p-form-item>

                <p-form-item rule-key="email" :value="user.email">
                    <p-input style="width: 300px" type="email" :value.sync="user.email" placeholder="请输入邮箱">
                        <p-icon type="ios-email-outline" slot="prepend"></p-icon>
                    </p-input>
                </p-form-item>

                <p-form-item rule-key="password" :value="user.pwd">
                    <p-input style="width: 300px" type="password" :value.sync="user.pwd" placeholder="请输入用密码">
                        <p-icon type="ios-locked-outline" slot="prepend"></p-icon>
                    </p-input>
                </p-form-item>
                <p-form-item rule-key="repassword" :value="repassword">
                    <p-input style="width: 300px" type="password" :value.sync="repassword" placeholder="请确认密码">
                        <p-icon type="ios-locked-outline" slot="prepend"></p-icon>

                    </p-input>
                </p-form-item>

                <p-form-item>
                    <p-button long shape ="circle" type="success" @click="registerSubmit('user')">注册</p-button>
                </p-form-item>
                <p-form-item style="text-align:right;">
                    <a href="#"  @click="showLogin">重新登录</a>
                </p-form-item>
            </p-form>
        </p-card>

        <p-card class="form" v-if="loginVisible">
            <p slot="title" style="text-align:center;">
                <span style="color: #e3e8ee;font-size: 20px">登录</span>
            </p>
            <p-form v-ref:user :rules="ruleInline" label-position="right" >

                <p-form-item rule-key="email" :value="user.email">
                    <p-input size ="large" style="width: 300px" type="email" :value.sync="user.email" placeholder="请输入邮箱">
                        <p-icon type="ios-email-outline" slot="prepend"></p-icon>
                    </p-input>
                </p-form-item>

                <p-form-item rule-key="password" :value="user.pwd">
                    <p-input size ="large"  style="width: 300px" type="password" :value.sync="user.pwd" placeholder="请输入密码">
                        <p-icon type="ios-locked-outline" slot="prepend"></p-icon>
                    </p-input>
                </p-form-item>

                <p-form-item>
                    <p-button long size ="large" shape ="circle" type="success" @click="loginSubmit('user')">登录</p-button>
                </p-form-item>
                <p-form-item style="text-align:right;">
                    <a href="#"  @click="showRegister">立即注册</a>
                </p-form-item>
                <!-- 这个user就是v-ref:user的uesr 这个是vue对组件起名字的方式 -->
            </p-form>
        </p-card>

    </div>
</script>
<script type="text/x-template" id="index">
    <div id="app">

        <p-menu mode="horizontal" :theme="theme" active-key="1">
            <p-menu-item key="1">
                <p-icon type="ios-paper"></p-icon>
                首页
            </p-menu-item>
            <p-menu-item key="2">
                <p-icon type="ios-people"></p-icon>
                用户管理
            </p-menu-item>
            <p-menu-item key="4" style="float: right" @click="quitQuery">
                <p-icon type="log-out"></p-icon>
                退出
            </p-menu-item>
            <p-menu-item key="5" style="float: right">
                <p-icon type="settings"></p-icon>
                {{register.email}}
            </p-menu-item>

        </p-menu>
        <div id="menubar" style="display: inline-block; float: left; width: 20%; height: 100%">
            <p-menu class="width" :theme="theme">
                <p-menu-item key="1-1" @click="examroomQuery"><p-icon type="stats-bars"></p-icon>考场信息管理</p-menu-item>
                <p-menu-item key="1-1" @click="studentQuery"><p-icon type="stats-bars"></p-icon>考生信息管理</p-menu-item>
                <p-menu-item key="1-1" @click="teacherQuery"><p-icon type="stats-bars"></p-icon>监考人员信息管理</p-menu-item>
                <p-menu-item key="1-1" @click="classroomQuery"><p-icon type="stats-bars"></p-icon>教室信息管理</p-menu-item>
                <p-menu-item key="1-1" @click="subjectQuery"><p-icon type="stats-bars"></p-icon>考试科目信息管理</p-menu-item>
            </p-menu>
            <br>
            </p-form>
        </div>

        <div id="detailmenu" style="height: 500px; float: left; width: 80%">
            <router-view></router-view>
        </div>
    </div>
</script>

<script type="text/x-template" id="examroom">
    <div id="example-1" style="width: 100%">
        <button @click="show = !show" style="width: 50px;color: white; border-color: white;border: 0px;background: red; float: right">菜单</button>
        <button  v-if="show" style="width: 100px;color: white; border-color: white;border: 0px;background: red; float: right">增加</button>
        <button v-if="show" style="width: 100px;color: white; border-color: white;border: 0px;background: red; float: right">删除</button>
        <button v-if="show" style="width: 100px;color: white; border-color: white;border: 0px;background: red; float: right">修改</button>
    </div>
    <div class="shopweb-card-body" style="margin-top: 20px; padding: 5px">
        <p-form :label-width="80" label-position="right">
            <p-row :gutter="10">
                <p-col span="8">
                    <p-form-item label="考场编号">
                        <p-input :value.sync="complainingQuery.complainingId" placeholder="请输入考场编号..." @keyup="digitalCheck" @blur="digitalCheck" style="width:240px"></p-input>
                    </p-form-item>
                </p-col>
                <p-col span="8">
                    <p-form-item label="监考人员编号">
                        <p-input :value.sync="complainingQuery.orderId" placeholder="请输入监考人员编号..." @keyup="digitalCheck" @blur="digitalCheck" style="width:240px"></p-input>
                    </p-form-item>
                </p-col>
                <p-col span="8">
                    <p-form-item label="教室编号">
                        <p-input :value.sync="complainingQuery.arbitId" placeholder="请输入教室编号..." @keyup="digitalCheck" @blur="digitalCheck" style="width:240px"></p-input>
                    </p-form-item>
                </p-col>
            </p-row>

            <p-row :gutter="10">
                <p-col span="8">
                    <p-form-item label="考试科目编号">
                        <p-input :value.sync="complainingQuery.complainingId" placeholder="请输入科目编号..." @keyup="digitalCheck" @blur="digitalCheck" style="width:240px" ></p-input>
                    </p-form-item>
                </p-col>
                <p-col span="8">
                    <p-form-item label="人数">
                        <p-input :value.sync="complainingQuery.orderId" placeholder="请输入人数..." @keyup="digitalCheck" @blur="digitalCheck" style="width:240px" ></p-input>
                    </p-form-item>
                </p-col>
            </p-row>

            <p style="text-align: center;margin-bottom: 15px;">
                <p-button type="primary" @click="submitComplainQuery" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;查询&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p-button>
                <p-button type="ghost" @click="reset" style="margin-left: 8px" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;重置&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p-button>
            </p>
        </p-form>

        <p-table :columns="columns8" :data="data7" size="small" v-ref:table></p-table>
        <p-page class="pageClass" :total="100"></p-page>
        <p-button type="primary" size="large" @click="exportData(1)" posi>
            <p-icon type="ios-download-outline"></p-icon> 导出原始数据</p-button>
        <p-button type="primary" size="large" @click="exportData(2)">
            <p-icon type="ios-download-outline"></p-icon> 导出排序和过滤后的数据</p-button>
        <p-button type="primary" size="large" @click="exportData(3)">
            <p-icon type="ios-download-outline"></p-icon> 导出自定义数据</p-button>

    </div>

</script>
<script type="text/x-template" id="classroom">
    <div  style="width: 100%">
        <button @click="show = !show" style="width: 50px;color: white; border-color: white;border: 0px;background: red; float: right">菜单</button>
        <button @click="addClick" v-if="show" style="width: 100px;color: white; border-color: white;border: 0px;background: red; float: right">增加</button>
        <button @click="deleteClick" v-if="show" style="width: 100px;color: white; border-color: white;border: 0px;background: red; float: right">删除</button>
        <button @click="updateClick" v-if="show" style="width: 100px;color: white; border-color: white;border: 0px;background: red; float: right">修改</button>
    </div>
    <div class="shopweb-card-body" style="margin-top: 20px; padding: 5px">
        <p-form :label-width="80" label-position="right">
            <p-row :gutter="10">
                <p-col span="8">
                    <p-form-item label="教室编号">
                        <p-input-number :value.sync="classroomQuery.id" placeholder="请输入教室编号..." @keyup="digitalCheck" @blur="digitalCheck" style="width:240px"></p-input-number>
                    </p-form-item>
                </p-col>
                <p-col span="8">
                    <p-form-item label="教室大小">
                        <p-input-number :value.sync="classroomQuery.size" placeholder="请输入教室大小..." @keyup="digitalCheck" @blur="digitalCheck" style="width:240px"></p-input-number>
                    </p-form-item>
                </p-col>
                <p-col span="8">
                    <p-form-item label="教室位置">
                        <p-input :value.sync="classroomQuery.position" placeholder="请输入教室位置..." @keyup="digitalCheck" @blur="digitalCheck" style="width:240px"></p-input>
                    </p-form-item>
                </p-col>
            </p-row>

            <p-row :gutter="10">
                <p-col span="8">
                    <p-form-item label="是否占用">
                        <p-select style="width: 240px">
                            <p-option :model.sync="classroomQuery.isEnable" clearable="false" v-for="item in IsOrNot" :value="item.value">{{ item.label }}</p-option>
                        </p-select></p-input>
                    </p-form-item>
                </p-col>
            </p-row>

            <p style="text-align: center;margin-bottom: 15px;">
                <p-button type="primary" @click="submitQuery" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;查询&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p-button>
                <p-button type="ghost" @click="reset" style="margin-left: 8px" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;重置&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p-button>
            </p>
        </p-form>

        <p-table :columns="columns4" :data="classrooms" v-ref:table></p-table>
        <p-page :total="classroomQuery.totalRecord" :current.sync="classroomQuery.pageIndex" :page-size.sync="classroomQuery.pageSize" :page-size-opts="[5,10,20]"  @on-change="submitQuery" @on-page-size-change="submitQuery" class="pageClass"></p-page>
        <p-button type="primary" size="large" @click="exportData(1)" posi>
            <p-icon type="ios-download-outline"></p-icon> 导出原始数据</p-button>
        <p-button type="primary" size="large" @click="exportData(2)">
            <p-icon type="ios-download-outline"></p-icon> 导出排序和过滤后的数据</p-button>
        <p-button type="primary" size="large" @click="exportData(3)">
            <p-icon type="ios-download-outline"></p-icon> 导出自定义数据</p-button>
    </div>
    <p-modal :visible.sync="modalAdd" @on-ok="addSubmit" @on-cancel="cancel">
        <p slot="header">
            <span>增加教室信息</span>
        </p>
        <div style="text-align:center;">
            <p-form label-position="right" >
                <p-form-item label="教室大小">
                    <p-input-number style="width: 300px" type="text" :value.sync="classroom.size" placeholder="教室大小">
                    </p-input-number>
                </p-form-item>

                <p-form-item label="教室位置">
                    <p-input style="width: 300px" type="email" :value.sync="classroom.position" placeholder="教室位置">
                    </p-input>
                </p-form-item>
            </p-form>
        </div>
    </p-modal>
    <p-modal :visible.sync="modalDelete" @on-ok="deleteSubmit" @on-cancel="cancel">
        <p slot="header">
            <span>删除教室信息</span>
        </p>
        <div style="text-align:center;">
            <p-form label-position="right" >
                <p-form-item label="教室编号">
                    <p-input-number style="width: 300px" type="text" :value.sync="classroom.id" placeholder="教室编号">
                    </p-input-number>
                </p-form-item>
            </p-form>
        </div>
    </p-modal>
    <p-modal :visible.sync="modalUpdate" @on-ok="updateSubmit" @on-cancel="cancel">
        <p slot="header">
            <span>修改教室信息</span>
        </p>
        <div style="text-align:center;">
            <p-form label-position="right" :label-width="80">
                <p-form-item label="教室编号 ">
                    <p-input-number style="width: 300px" type="text" :value.sync="classroom.id">
                    </p-input-number>
                </p-form-item>
                <p-form-item label="教室大小 ">
                    <p-input-number style="width: 300px" type="text" :value.sync="classroom.size">
                    </p-input-number>
                </p-form-item>
                <p-form-item label="教室位置 ">
                    <p-input style="width: 300px" type="email" :value.sync="classroom.position">
                    </p-input>
                </p-form-item>
                <p-form-item label="是否占用 ">
                    <p-select style="width:300px">
                        <p-option :model.sync="classroom.isEnable" clearable="false" v-for="item in IsOrNot" :value="item.value">{{ item.label }}</p-option>
                    </p-select>
                </p-form-item>
            </p-form>
        </div>
    </p-modal>
</script>
<script type="text/x-template" id="student">
    <div id="example-3" style="width: 100%">
        <button @click="show = !show" style="width: 50px;color: white; border-color: white;border: 0px;background: red; float: right">菜单</button>
        <button  v-if="show" style="width: 100px;color: white; border-color: white;border: 0px;background: red; float: right">增加</button>
        <button v-if="show" style="width: 100px;color: white; border-color: white;border: 0px;background: red; float: right">删除</button>
        <button v-if="show" style="width: 100px;color: white; border-color: white;border: 0px;background: red; float: right">修改</button>
    </div>
    <div class="shopweb-card-body" style="margin-top: 20px; padding: 5px">
        <p-form :label-width="80" label-position="right">
            <p-row :gutter="10">
                <p-col span="8">
                    <p-form-item label="考场编号">
                        <p-input :value.sync="complainingQuery.complainingId" placeholder="请输入考场编号..." @keyup="digitalCheck" @blur="digitalCheck" style="width:240px"></p-input>
                    </p-form-item>
                </p-col>
                <p-col span="8">
                    <p-form-item label="监考人员编号">
                        <p-input :value.sync="complainingQuery.orderId" placeholder="请输入监考人员编号..." @keyup="digitalCheck" @blur="digitalCheck" style="width:240px"></p-input>
                    </p-form-item>
                </p-col>
                <p-col span="8">
                    <p-form-item label="教室编号">
                        <p-input :value.sync="complainingQuery.arbitId" placeholder="教室编号" @keyup="digitalCheck" @blur="digitalCheck" style="width:240px"></p-input>
                    </p-form-item>
                </p-col>
            </p-row>

            <p-row :gutter="10">
                <p-col span="8">
                    <p-form-item label="考试科目编号">
                        <p-input :value.sync="complainingQuery.complainingId" placeholder="请输入科目编号..." @keyup="digitalCheck" @blur="digitalCheck" style="width:240px" ></p-input>
                    </p-form-item>
                </p-col>
                <p-col span="8">
                    <p-form-item label="人数">
                        <p-input :value.sync="complainingQuery.orderId" placeholder="请输入人数..." @keyup="digitalCheck" @blur="digitalCheck" style="width:240px" ></p-input>
                    </p-form-item>
                </p-col>
            </p-row>

            <p style="text-align: center;margin-bottom: 15px;">
                <p-button type="primary" @click="submitComplainQuery" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;查询&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p-button>
                <p-button type="ghost" @click="reset" style="margin-left: 8px" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;重置&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p-button>
            </p>
        </p-form>

        <p-table :columns="columns8" :data="data7" size="small" v-ref:table></p-table>
        <p-page class="pageClass" :total="100"></p-page>
        <p-button type="primary" size="large" @click="exportData(1)" posi>
            <p-icon type="ios-download-outline"></p-icon> 导出原始数据</p-button>
        <p-button type="primary" size="large" @click="exportData(2)">
            <p-icon type="ios-download-outline"></p-icon> 导出排序和过滤后的数据</p-button>
        <p-button type="primary" size="large" @click="exportData(3)">
            <p-icon type="ios-download-outline"></p-icon> 导出自定义数据</p-button>

    </div>

</script>
<script type="text/x-template" id="teacher">
    <div style="width: 100%">
        <button @click="show = !show" style="width: 50px;color: white; border-color: white;border: 0px;background: red; float: right">菜单</button>
        <button  v-if="show" style="width: 100px;color: white; border-color: white;border: 0px;background: red; float: right">增加</button>
        <button v-if="show" style="width: 100px;color: white; border-color: white;border: 0px;background: red; float: right">删除</button>
        <button v-if="show" style="width: 100px;color: white; border-color: white;border: 0px;background: red; float: right">修改</button>
    </div>
    <div class="shopweb-card-body" style="margin-top: 20px; padding: 5px">
        <p-form :label-width="80" label-position="right">
            <p-row :gutter="10">
                <p-col span="8">
                    <p-form-item label="考场编号">
                        <p-input :value.sync="complainingQuery.complainingId" placeholder="请输入考场编号..." @keyup="digitalCheck" @blur="digitalCheck" style="width:240px"></p-input>
                    </p-form-item>
                </p-col>
                <p-col span="8">
                    <p-form-item label="监考人员编号">
                        <p-input :value.sync="complainingQuery.orderId" placeholder="请输入监考人员编号..." @keyup="digitalCheck" @blur="digitalCheck" style="width:240px"></p-input>
                    </p-form-item>
                </p-col>
                <p-col span="8">
                    <p-form-item label="教室编号">
                        <p-input :value.sync="complainingQuery.arbitId" placeholder="教室编号" @keyup="digitalCheck" @blur="digitalCheck" style="width:240px"></p-input>
                    </p-form-item>
                </p-col>
            </p-row>

            <p-row :gutter="10">
                <p-col span="8">
                    <p-form-item label="考试科目编号">
                        <p-input :value.sync="complainingQuery.complainingId" placeholder="请输入科目编号..." @keyup="digitalCheck" @blur="digitalCheck" style="width:240px" ></p-input>
                    </p-form-item>
                </p-col>
                <p-col span="8">
                    <p-form-item label="人数">
                        <p-input :value.sync="complainingQuery.orderId" placeholder="请输入人数..." @keyup="digitalCheck" @blur="digitalCheck" style="width:240px" ></p-input>
                    </p-form-item>
                </p-col>
            </p-row>

            <p style="text-align: center;margin-bottom: 15px;">
                <p-button type="primary" @click="submitComplainQuery" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;查询&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p-button>
                <p-button type="ghost" @click="reset" style="margin-left: 8px" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;重置&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p-button>
            </p>
        </p-form>

        <p-table :columns="columns8" :data="data7" size="small" v-ref:table></p-table>
        <p-page class="pageClass" :total="100"></p-page>
        <p-button type="primary" size="large" @click="exportData(1)" posi>
            <p-icon type="ios-download-outline"></p-icon> 导出原始数据</p-button>
        <p-button type="primary" size="large" @click="exportData(2)">
            <p-icon type="ios-download-outline"></p-icon> 导出排序和过滤后的数据</p-button>
        <p-button type="primary" size="large" @click="exportData(3)">
            <p-icon type="ios-download-outline"></p-icon> 导出自定义数据</p-button>

    </div>

</script>
<script type="text/x-template" id="subject">
    <div style="width: 100%">
        <button @click="show = !show" style="width: 50px;color: white; border-color: white;border: 0px;background: red; float: right">菜单</button>
        <button @click="addClick" v-if="show" style="width: 100px;color: white; border-color: white;border: 0px;background: red; float: right">增加</button>
        <button @click="deleteClick" v-if="show" style="width: 100px;color: white; border-color: white;border: 0px;background: red; float: right">删除</button>
        <button @click="updateClick" v-if="show" style="width: 100px;color: white; border-color: white;border: 0px;background: red; float: right">修改</button>
    </div>
    <div class="shopweb-card-body" style="margin-top: 20px; padding: 5px">
        <p-form :label-width="80" label-position="right">
            <p-row :gutter="10">
                <p-col span="8">
                    <p-form-item label="考场编号">
                        <p-input :value.sync="complainingQuery.complainingId" placeholder="请输入考场编号..." @keyup="digitalCheck" @blur="digitalCheck" style="width:240px"></p-input>
                    </p-form-item>
                </p-col>
                <p-col span="8">
                    <p-form-item label="监考人员编号">
                        <p-input :value.sync="complainingQuery.orderId" placeholder="请输入监考人员编号..." @keyup="digitalCheck" @blur="digitalCheck" style="width:240px"></p-input>
                    </p-form-item>
                </p-col>
                <p-col span="8">
                    <p-form-item label="教室编号">
                        <p-input :value.sync="complainingQuery.arbitId" placeholder="教室编号" @keyup="digitalCheck" @blur="digitalCheck" style="width:240px"></p-input>
                    </p-form-item>
                </p-col>
            </p-row>

            <p-row :gutter="10">
                <p-col span="8">
                    <p-form-item label="考试科目编号">
                        <p-input :value.sync="complainingQuery.complainingId" placeholder="请输入科目编号..." @keyup="digitalCheck" @blur="digitalCheck" style="width:240px" ></p-input>
                    </p-form-item>
                </p-col>
                <p-col span="8">
                    <p-form-item label="人数">
                        <p-input :value.sync="complainingQuery.orderId" placeholder="请输入人数..." @keyup="digitalCheck" @blur="digitalCheck" style="width:240px" ></p-input>
                    </p-form-item>
                </p-col>
            </p-row>

            <p style="text-align: center;margin-bottom: 15px;">
                <p-button type="primary" @click="submitComplainQuery" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;查询&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p-button>
                <p-button type="ghost" @click="reset" style="margin-left: 8px" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;重置&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p-button>
            </p>
        </p-form>

        <p-table :columns="columns8" :data="data7" size="small" v-ref:table></p-table>
        <p-page class="pageClass" :total="100"></p-page>
        <p-button type="primary" size="large" @click="exportData(1)" posi>
            <p-icon type="ios-download-outline"></p-icon> 导出原始数据</p-button>
        <p-button type="primary" size="large" @click="exportData(2)">
            <p-icon type="ios-download-outline"></p-icon> 导出排序和过滤后的数据</p-button>
        <p-button type="primary" size="large" @click="exportData(3)">
            <p-icon type="ios-download-outline"></p-icon> 导出自定义数据</p-button>

        <p-modal :visible.sync="modalAdd" @on-ok="addSubmit" @on-cancel="cancel">
            <p slot="header">
                <span>增加教室信息</span>
            </p>
            <div style="text-align:center;">
                <p-form label-position="right" >
                    <p-form-item>
                        <p-input-number style="width: 300px" type="text" :value.sync="classroom.size" placeholder="教室大小">
                        </p-input-number>
                    </p-form-item>

                    <p-form-item>
                        <p-input style="width: 300px" type="email" :value.sync="classroom.position" placeholder="教室位置">
                        </p-input>
                    </p-form-item>
                </p-form>
            </div>
        </p-modal>
        <p-modal :visible.sync="modalDelete" @on-ok="deleteSubmit" @on-cancel="cancel">
            <p slot="header">
                <span>删除教室信息</span>
            </p>
            <div style="text-align:center;">
                <p-form label-position="right" >
                    <p-form-item>
                        <p-input-number style="width: 300px" type="text" :value.sync="classroom.id" placeholder="教室编号">
                        </p-input-number>
                    </p-form-item>
                </p-form>
            </div>
        </p-modal>
        <p-modal :visible.sync="modalUpdate" @on-ok="updateSubmit" @on-cancel="cancel">
            <p slot="header">
                <span>修改教室信息</span>
            </p>
            <div style="text-align:center;">
                <p-form label-position="right" >
                    <p-form-item>
                        <p-input-number style="width: 300px" type="text" :value.sync="classroom.size" placeholder="教室编号">
                        </p-input-number>
                    </p-form-item>
                    <p-form-item>
                        <p-input-number style="width: 300px" type="text" :value.sync="classroom.size" placeholder="教室大小">
                        </p-input-number>
                    </p-form-item>
                    <p-form-item>
                        <p-input style="width: 300px" type="email" :value.sync="classroom.position" placeholder="教室位置">
                        </p-input>
                    </p-form-item>
                    <p-form-item l>
                        <p-select style="width:300px">
                            <p-option :model.sync="classroom.isEnable" clearable="false" v-for="item in IsOrNot" :value="item.value">{{ item.label }}</p-option>
                        </p-select>
                    </p-form-item>
                </p-form>
            </div>
        </p-modal>

    </div>

</script>

<script>
    var LoginView = Vue.extend({
        template: '#register',
        data: function () {
            var validatePass = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('请再次输入密码'));
                } else if (value !== this.user.pwd) {
                    callback(new Error('两次输入密码不一致!'));
                } else {
                    callback();
                }
            };
            var email = (rule, value, callback) => {
                var mal = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
                if (!value) {
                    return callback(new Error('不能为空'));
                }
                if (!(mal.test(value))) {
                    callback(new Error('请输入正确邮箱'));
                } else {
                    callback();
                }
            };
            return {
                ruleInline: {
                    user: [{
                        required: true,
                        message: '请填写用户名',
                    }],
                    password: [{
                        required: true,
                        message: '请填写密码',
                        trigger: 'blur',
                    }, {
                        type: 'string',
                        min: 6,
                        message: '密码长度不能小于6位',
                        trigger: 'blur',
                    }],
                    repassword: [{
                        required: true,
                        message: '请填写确认密码',
                        trigger: 'blur',
                    }, {
                        validator: validatePass,
                        trigger: 'blur',
                    }],
                    email: [{
                        required: true,
                        message: '请填写邮箱',
                        trigger: 'blur',
                    }, {
                        validator: email,
                        triger: 'blur',
                    }]
                },
                user: {
                    name: '',
                    pwd: '',
                    email: '',
                },
                repassword: '',
                theme: 'dark',
                loginVisible: true,
                registerVisible: false,
            }
        },
        methods: {

            registerSubmit: function (name) {
                this.$refs[name].validate(function (valid) {
                    if (valid) {
                        this.$http.post('/index/register', this.user).then(function (res) {
                            if (res.body.trim() == '注册成功') {
                                this.$Message.success(res.body);
                            }
                            else {
                                this.$Message.error(res.body + '!');
                            }
                        });
                    } else {
                        this.$Message.error('表单验证失败!');
                    }
                }.bind(this));
                //bind 是改变一个函数的this指向；这儿就是把function(valid)内部的this指向改成外面vue 的this（this劫持）
            },
            loginSubmit: function (name) {
                this.$refs[name].validate(function (valid) {
                    if (valid) {
                        this.$http.post('/index/login', this.user).then(function (res) {
                            if (res.body.trim() == '登录成功') {
                                this.$Message.success(res.body);
                                this.$router.go({
                                    path: '/index',
                                    query: {email: this.user.email}
                                });
                            }
                            else {
                                this.$Message.error(res.body + '!');
                            }
                        });
                    } else {
                        this.$Message.error('表单验证失败!');
                    }
                }.bind(this));
                //bind 是改变一个函数的this指向；这儿就是把function(valid)内部的this指向改成外面vue 的this（this劫持）
            },
            showLogin: function () {
                this.loginVisible = true;
                this.registerVisible = false;
            },
            showRegister: function () {
                this.loginVisible = false;
                this.registerVisible = true;
            }
        },
    });
    var examroom = Vue.extend({
        template: '#examroom',
        data: function() {
            return{
                show: false,
                columns8: [{
                    "title": "名称",
                    "key": "name",
                    "fixed": "left",
                    "width": 200
                }, {
                    "title": "展示",
                    "key": "show",
                    "width": 150,
                    "sortable": true,
                    filters: [{
                        label: '大于4000',
                        value: 1
                    }, {
                        label: '小于4000',
                        value: 2
                    }],
                    filterMultiple: false,
                    filterMethod: function(value, row) {
                        if (value === 1) {
                            return row.show > 4000;
                        } else if (value === 2) {
                            return row.show < 4000;
                        }
                    }
                }, {
                    "title": "唤醒",
                    "key": "weak",
                    "width": 150,
                    "sortable": true
                }, {
                    "title": "登录",
                    "key": "signin",
                    "width": 150,
                    "sortable": true
                }, {
                    "title": "点击",
                    "key": "click",
                    "width": 150,
                    "sortable": true
                }, {
                    "title": "激活",
                    "key": "active",
                    "width": 150,
                    "sortable": true
                }, {
                    "title": "7日留存",
                    "key": "day7",
                    "width": 150,
                    "sortable": true
                }, {
                    "title": "30日留存",
                    "key": "day30",
                    "width": 150,
                    "sortable": true
                }, {
                    "title": "次日留存",
                    "key": "tomorrow",
                    "width": 150,
                    "sortable": true
                }, {
                    "title": "日活跃",
                    "key": "day",
                    "width": 150,
                    "sortable": true
                }, {
                    "title": "周活跃",
                    "key": "week",
                    "width": 150,
                    "sortable": true
                }, {
                    "title": "月活跃",
                    "key": "month",
                    "width": 150,
                    "sortable": true
                }],
                data7: [],
            }
        },
        created:function () {
            this.email=this.$route.query.email;
        },
        methods: {
            exportData: function(type) {
                if (type === 1) {
                    this.$refs.table.exportCsv({
                        filename: '原始数据'
                    });
                } else if (type === 2) {
                    this.$refs.table.exportCsv({
                        filename: '排序和过滤后的数据',
                        original: false
                    });
                } else if (type === 3) {
                    this.$refs.table.exportCsv({
                        filename: '自定义数据',
                        columns: this.columns8.filter(function(col, index) {
                            return index < 4
                        }),
                        data: this.data7.filter(function(data, index) {
                            return index < 4
                        })
                    });
                }
            }
        }
    });
    var classroom = Vue.extend({
        template: '#classroom',
        data: function() {
            return{
                modalAdd: false,
                modalDelete: false,
                modalUpdate: false,
                IsOrNot:[{
                    value: 'true',
                    label: '未被占用'
                },{
                    value: 'false',
                    label: '被占用'
                }],
                email: '',
                classroomQuery: {
                    id: '',
                    size: '',
                    position: '',
                    isEnable: 'false',
                    pageIndex:1,
                    pageSize:10,
                    totalRecord:0
                },
                classroom:{
                    id: '',
                    size: '',
                    position: '',
                    isEnable: 'false',
                },
                classrooms: [],
                show: false,
                columns4: [{
                    "title": "教室编号",
                    "key": "id",
                    "fixed": "left",
                    "width": 200,
                }, {
                    "title": "教室大小",
                    "key": "size",
                    "width": 200,
                    "sortable": true,
                    filters: [{
                        label: '大于30',
                        value: 1
                    }, {
                        label: '小于30',
                        value: 2
                    }],
                    filterMultiple: false,
                    filterMethod: function(value, row) {
                        if (value === 1) {
                            return row.size >= 30;
                        } else if (value === 2) {
                            return row.size < 30;
                        }
                    }
                }, {
                    "title": "教室位置",
                    "key": "position",
                    "width": 200,
                    "sortable": false
                }, {
                    "title": "是否占用",
                    "key": "isEnable",
                    "width": 150,
                    "sortable": false,
                }],
            }
        },
        created:function () {
            this.email=this.$route.query.email;
        },
        methods: {
            addClick: function () {
              this.modalAdd = true;
            },
            deleteClick: function(){
                this.modalDelete = true;
            },
            updateClick: function(){
                this.modalUpdate = true;
            },
            addSubmit: function () {
                this.$http.post('/classroom/' + this.email + '/add', this.classroom).then(function (res) {
                    if(1 == res.body) {
                        this.$Message.success("增加成功");
                    }
                    else if(0 == res.body){
                        this.$Message.error("增加失败");
                    }
                    else if(2 == res.body){
                        this.$Message.error("用户为空");
                    }
                    else if(3 == res.body){
                        this.$Message.error("用户没有权限");
                    }
                    else if(4 == res.body){
                        this.$Message.error("没有此用户");
                    }
                    this.modalAdd = false;
                });
            },
            deleteSubmit: function () {
                this.$http.post('/classroom/' + this.email + '/delete', this.classroom).then(function (res) {
                    if(1 == res.body) {
                        this.$Message.success("删除成功");
                    }
                    else if(0 == res.body){
                        this.$Message.error("删除失败");
                    }
                    else if(2 == res.body){
                        this.$Message.error("用户为空");
                    }
                    else if(3 == res.body){
                        this.$Message.error("用户没有权限");
                    }
                    else if(4 == res.body){
                        this.$Message.error("没有此用户");
                    }
                    this.modalDelete = false;
                });
            },
            updateSubmit: function () {
                this.$http.post('/classroom/' + this.email + '/update', this.classroom).then(function (res) {
                    if(1 == res.body) {
                        this.$Message.success("修改成功");
                    }
                    else if(0 == res.body){
                        this.$Message.error("修改失败");
                    }
                    else if(2 == res.body){
                        this.$Message.error("用户为空");
                    }
                    else if(3 == res.body){
                        this.$Message.error("用户没有权限");
                    }
                    else if(4 == res.body){
                        this.$Message.error("没有此用户");
                    }
                    this.modalUpdate = false;
                });
            },
            submitQuery: function(){
                this.classrooms = [];
                this.$http.post('/classroom/query', this.classroomQuery).then(function (res) {
                   this.classrooms = res.body.results;
                   this.classroomQuery.totalRecord = res.body.totalRecord;
                });
            },
            reset: function () {
                this.classroomQuery.id = '';
                this.classroomQuery.size = '';
                this.classroomQuery.position = '';
                this.classroomQuery.isEnable='false';
                this.classroomQuery.pageIndex=1;
                this.classroomQuery.pageSize=10;
                this.classroomQuery.totalRecord=0;
            },
            exportData: function(type) {
                if (type === 1) {
                    this.$refs.table.exportCsv({
                        filename: '原始数据'
                    });
                } else if (type === 2) {
                    this.$refs.table.exportCsv({
                        filename: '排序和过滤后的数据',
                        original: false
                    });
                } else if (type === 3) {
                    this.$refs.table.exportCsv({
                        filename: '自定义数据',
                        columns: this.columns4.filter(function(col, index) {
                            return index < 4
                        }),
                        data: this.classrooms.filter(function(data, index) {
                            return index < 4
                        })
                    });
                }
            }
        }
    });
    var student = Vue.extend({
        template: '#student',
        data: function() {
            return{
                show: false,
                columns8: [{
                    "title": "名称",
                    "key": "name",
                    "fixed": "left",
                    "width": 200
                }, {
                    "title": "展示",
                    "key": "show",
                    "width": 150,
                    "sortable": true,
                    filters: [{
                        label: '大于4000',
                        value: 1
                    }, {
                        label: '小于4000',
                        value: 2
                    }],
                    filterMultiple: false,
                    filterMethod: function(value, row) {
                        if (value === 1) {
                            return row.show > 4000;
                        } else if (value === 2) {
                            return row.show < 4000;
                        }
                    }
                }, {
                    "title": "唤醒",
                    "key": "weak",
                    "width": 150,
                    "sortable": true
                }, {
                    "title": "登录",
                    "key": "signin",
                    "width": 150,
                    "sortable": true
                }, {
                    "title": "点击",
                    "key": "click",
                    "width": 150,
                    "sortable": true
                }, {
                    "title": "激活",
                    "key": "active",
                    "width": 150,
                    "sortable": true
                }, {
                    "title": "7日留存",
                    "key": "day7",
                    "width": 150,
                    "sortable": true
                }, {
                    "title": "30日留存",
                    "key": "day30",
                    "width": 150,
                    "sortable": true
                }, {
                    "title": "次日留存",
                    "key": "tomorrow",
                    "width": 150,
                    "sortable": true
                }, {
                    "title": "日活跃",
                    "key": "day",
                    "width": 150,
                    "sortable": true
                }, {
                    "title": "周活跃",
                    "key": "week",
                    "width": 150,
                    "sortable": true
                }, {
                    "title": "月活跃",
                    "key": "month",
                    "width": 150,
                    "sortable": true
                }],
                data7: [],
            }
        },
        created:function () {
            this.email=this.$route.query.email;
        },
        methods: {
            exportData: function(type) {
                if (type === 1) {
                    this.$refs.table.exportCsv({
                        filename: '原始数据'
                    });
                } else if (type === 2) {
                    this.$refs.table.exportCsv({
                        filename: '排序和过滤后的数据',
                        original: false
                    });
                } else if (type === 3) {
                    this.$refs.table.exportCsv({
                        filename: '自定义数据',
                        columns: this.columns8.filter(function(col, index) {
                            return index < 4
                        }),
                        data: this.data7.filter(function(data, index) {
                            return index < 4
                        })
                    });
                }
            }
        }
    });
    var teacher = Vue.extend({
        template: '#teacher',
        data: function() {
            return{
                show: false,
                columns8: [{
                    "title": "名称",
                    "key": "name",
                    "fixed": "left",
                    "width": 200
                }, {
                    "title": "展示",
                    "key": "show",
                    "width": 150,
                    "sortable": true,
                    filters: [{
                        label: '大于4000',
                        value: 1
                    }, {
                        label: '小于4000',
                        value: 2
                    }],
                    filterMultiple: false,
                    filterMethod: function(value, row) {
                        if (value === 1) {
                            return row.show > 4000;
                        } else if (value === 2) {
                            return row.show < 4000;
                        }
                    }
                }, {
                    "title": "唤醒",
                    "key": "weak",
                    "width": 150,
                    "sortable": true
                }, {
                    "title": "登录",
                    "key": "signin",
                    "width": 150,
                    "sortable": true
                }, {
                    "title": "点击",
                    "key": "click",
                    "width": 150,
                    "sortable": true
                }, {
                    "title": "激活",
                    "key": "active",
                    "width": 150,
                    "sortable": true
                }, {
                    "title": "7日留存",
                    "key": "day7",
                    "width": 150,
                    "sortable": true
                }, {
                    "title": "30日留存",
                    "key": "day30",
                    "width": 150,
                    "sortable": true
                }, {
                    "title": "次日留存",
                    "key": "tomorrow",
                    "width": 150,
                    "sortable": true
                }, {
                    "title": "日活跃",
                    "key": "day",
                    "width": 150,
                    "sortable": true
                }, {
                    "title": "周活跃",
                    "key": "week",
                    "width": 150,
                    "sortable": true
                }, {
                    "title": "月活跃",
                    "key": "month",
                    "width": 150,
                    "sortable": true
                }],
                data7: [],
            }
        },
        created:function () {
            this.email=this.$route.query.email;
        },
        methods: {
            exportData: function(type) {
                if (type === 1) {
                    this.$refs.table.exportCsv({
                        filename: '原始数据'
                    });
                } else if (type === 2) {
                    this.$refs.table.exportCsv({
                        filename: '排序和过滤后的数据',
                        original: false
                    });
                } else if (type === 3) {
                    this.$refs.table.exportCsv({
                        filename: '自定义数据',
                        columns: this.columns8.filter(function(col, index) {
                            return index < 4
                        }),
                        data: this.data7.filter(function(data, index) {
                            return index < 4
                        })
                    });
                }
            }
        }
    });
    var subject = Vue.extend({
        template: '#subject',
        data: function() {
            return{
                show: false,
                columns8: [{
                    "title": "名称",
                    "key": "name",
                    "fixed": "left",
                    "width": 200
                }, {
                    "title": "展示",
                    "key": "show",
                    "width": 150,
                    "sortable": true,
                    filters: [{
                        label: '大于4000',
                        value: 1
                    }, {
                        label: '小于4000',
                        value: 2
                    }],
                    filterMultiple: false,
                    filterMethod: function(value, row) {
                        if (value === 1) {
                            return row.show > 4000;
                        } else if (value === 2) {
                            return row.show < 4000;
                        }
                    }
                }, {
                    "title": "唤醒",
                    "key": "weak",
                    "width": 150,
                    "sortable": true
                }, {
                    "title": "登录",
                    "key": "signin",
                    "width": 150,
                    "sortable": true
                }, {
                    "title": "点击",
                    "key": "click",
                    "width": 150,
                    "sortable": true
                }, {
                    "title": "激活",
                    "key": "active",
                    "width": 150,
                    "sortable": true
                }, {
                    "title": "7日留存",
                    "key": "day7",
                    "width": 150,
                    "sortable": true
                }, {
                    "title": "30日留存",
                    "key": "day30",
                    "width": 150,
                    "sortable": true
                }, {
                    "title": "次日留存",
                    "key": "tomorrow",
                    "width": 150,
                    "sortable": true
                }, {
                    "title": "日活跃",
                    "key": "day",
                    "width": 150,
                    "sortable": true
                }, {
                    "title": "周活跃",
                    "key": "week",
                    "width": 150,
                    "sortable": true
                }, {
                    "title": "月活跃",
                    "key": "month",
                    "width": 150,
                    "sortable": true
                }],
                data7: [],
            }
        },
        created:function () {
            this.email=this.$route.query.email;
        },
        methods: {
            exportData: function(type) {
                if (type === 1) {
                    this.$refs.table.exportCsv({
                        filename: '原始数据'
                    });
                } else if (type === 2) {
                    this.$refs.table.exportCsv({
                        filename: '排序和过滤后的数据',
                        original: false
                    });
                } else if (type === 3) {
                    this.$refs.table.exportCsv({
                        filename: '自定义数据',
                        columns: this.columns8.filter(function(col, index) {
                            return index < 4
                        }),
                        data: this.data7.filter(function(data, index) {
                            return index < 4
                        })
                    });
                }
            }
        }
    });
    var App = Vue.extend({
        template: '#index',
        data: function() {
            return {
                theme: 'dark',
                register:{
                    name: '',
                    email: '',
                    password: '',
                }
            }
        },
        created:function () {
            this.register.email=this.$route.query.email;
        },
        methods: {
            examroomQuery: function () {
                this.$router.go({
                    path:'/index/examroom',
                    query: {email: this.register.email}
                });
            },
            classroomQuery: function () {
                this.$router.go({
                    path:'/index/classroom',
                    query: {email: this.register.email}
                });
            },
            teacherQuery: function () {
                this.$router.go({
                    path:'/index/teacher',
                    query: {email: this.register.email}
                });
            },
            studentQuery: function () {
                this.$router.go({
                    path:'/index/student',
                    query: {email: this.register.email}
                });
            },
            subjectQuery: function () {
                this.$router.go({
                    path:'/index/subject',
                    query: {email: this.register.email}
                });
            },
            quitQuery: function () {
                this.$router.go({
                    path:'/'
                });
            },
        }
    });
    var Root = Vue.extend({});
    var router = new VueRouter();
    router.map({
        '/': {name: 'main', component: LoginView},
        '/index': {
            component: App,
            subRoutes: {
                '/examroom': {name: 'examroom', component: examroom},
                '/classroom': {name: 'classroom', component: classroom},
                '/student': {name: 'student', component: student},
                '/teacher': {name: 'teacher', component: teacher},
                '/subject': {name: 'subject', component: subject},
            }
        },
    });
    router.start(Root, '#root');
</script>

<link href="/css/app.css" rel="stylesheet" type="text/css"/>
</body>
</html>
