<!DOCTYPE html>
<html>
<head>
    <meta charset=" utf-8" />
    <title>酒店管理系统</title>
    <style>
    </style>

</head>
<body style="background: #f1f1f1">

<link href="https://static.360buyimg.com/popd/popd_common/css/pop-design.min.css" type="text/css" rel="stylesheet">
<script src="https://static.360buyimg.com/popd/js/vue.min.js" type="text/javascript"></script>
<script src="https://static.360buyimg.com/popd/popd_common/pop-design.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/js/vue-router-0.7.10.js"></script>
<script type="text/javascript" src="/js/vue-resource-1.3.4.min.js"></script>
<script type="text/javascript" src="/js/countdown.js"></script>
<script type="text/javascript" src="/js/vue.config.js"></script>

<div id="root">
    <router-view></router-view>
</div>

<script type="text/x-template" id="register">
    <div id="rootApp">

        <p-card class="form" v-if="loginVisible">
            <p slot="title" style="text-align:center;">
                <span style="color: #e3e8ee;font-size: 20px">登录</span>
            </p>
            <p-form v-ref:user :rules="ruleInline" label-position="right" >

                <p-form-item rule-key="username" :value="user.username">
                    <p-input size ="large" style="width: 300px" type="text" :value.sync="user.username" placeholder="请输入用户名">
                        <p-icon type="ios-person-outline" slot="prepend"></p-icon>
                    </p-input>
                </p-form-item>

                <p-form-item rule-key="password" :value="user.password">
                    <p-input size ="large"  style="width: 300px" type="password" :value.sync="user.password" placeholder="请输入密码">
                        <p-icon type="ios-locked-outline" slot="prepend"></p-icon>
                    </p-input>
                </p-form-item>

                <p-form-item>
                    <p-button long size ="large" shape ="circle" type="success" @click="loginSubmit('user')">登录</p-button>
                </p-form-item>
                <!-- 这个user就是v-ref:user的uesr 这个是vue对组件起名字的方式 -->
            </p-form>
        </p-card>

    </div>
</script>
<script type="text/x-template" id="index">
    <div id="app">

        <p-menu mode="horizontal" :theme="theme" active-key="1">
            <p-menu-item key="1" @click="indexQuery">
                <p-icon type="ios-paper"></p-icon>
                首页
            </p-menu-item>
            <p-menu-item key="4" style="float: right" @click="quitQuery">
                <p-icon type="log-out"></p-icon>
                退出
            </p-menu-item>
            <p-menu-item key="5" style="float: right">
                <p-icon type="settings"></p-icon>
                {{register.username}}
            </p-menu-item>

        </p-menu>
        <p-row>
            <p-col span="4" style="height:660px;">
                <div id="menubar" style="display: inline-block; float: left; width:100%;height: 100%;background-color: #464c5b">
                    <p-menu class="width" :theme="theme">
                        <p-menu-item key="1" @click="CheckInSection"><p-icon type="stats-bars"></p-icon>已入住管理</p-menu-item>
                        <p-menu-item key="2" @click="UnCheckInSection"><p-icon type="stats-bars"></p-icon>未入住管理</p-menu-item>
                        <p-menu-item key="3" @click="RoomSection"><p-icon type="stats-bars"></p-icon>房间管理</p-menu-item>
                    </p-menu>
                </div>
            </p-col>
            <p-col span="20">
                <div id="detailmenu" style="display: inline-block; height: 100%;width: 100%">
                    <router-view></router-view>
                </div>
            </p-col>
        </p-row>
    </div>
</script>

<script type="text/x-template" id="checkinsection">
    <div>
        checkinsection


    </div>
</script>
<script type="text/x-template" id="uncheckinsection">
    <div class="shopweb-card-body" style="margin-top: 20px; padding: 5px" v-if="mainModal">
        <p-form :label-width="120" label-position="right">
            <p-row :gutter="10">
                <p-col span="8">
                    <p-form-item label="房间类型">
                        <p-select :model.sync="UnCheckInQuery.type" clearable="false" style="width: 240px">
                            <p-option v-for="item in types" :value="item.value">{{ item.label }}</p-option>
                        </p-select></p-input>
                    </p-form-item>
                </p-col>
                <p-col span="8">
                    <p-form-item label="入住时间">
                    <p-date-picker :value.sync="times" type="datetimerange" format="yyyy-MM-dd" placeholder="选择日期和时间（不含秒）" style="width: 300px" ></p-date-picker>
                </p-form-item>
                </p-col>
            </p-row>
            <p style="text-align: center;margin-bottom: 15px;">
                <p-button type="primary" @click="submitQuery" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;查询&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p-button>
                <p-button type="ghost" @click="reset" style="margin-left: 8px" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;重置&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p-button>
            </p>
        </p-form >
        <p-table size = "small" border :columns="columns3" :data="rooms" v-ref:table></p-table>
        <div style="float:right">
            <p-page :total="UnCheckInQuery.totalPage" :current.sync="UnCheckInQuery.pageIndex" :page-size.sync="UnCheckInQuery.pageSize" :page-size-opts="[5,10,20]"  @on-change="submitQuery" @on-page-size-change="submitQuery" class="pageClass" show-total show-elevator></p-page>
        </div>
    </div>
    <div class="shopweb-card-body" style="margin-top: 20px; padding: 5px" v-if="!mainModal">
        <p-form :label-width="120" label-position="right" style="margin-bottom: 20px">
            <span style="float: right">
                    <p-button type="ghost" @click="goback" style="margin-left: 8px;" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;返回&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p-button>
                </span>
        </p-form >
        <p-form :label-width="80" style="margin-top: 20px; padding: 5px;">
            <p-form-item>
                <img src="room.pURL" style="width: 80%; height: 100px; background: #464c5b"/>
            </p-form-item>
            <p-row :gutter="10">
                <p-col span="8">
                    <p-form-item label="房间类型">
                        <p-input style="width: 240px" readonly :value.sync="room.type"></p-input>
                    </p-form-item>
                </p-col>
                <p-col span="8">
                    <p-form-item label="房间号">
                        <p-input style="width: 240px" readonly :value.sync="room.roomName"></p-input>
                    </p-form-item>
                </p-col>
            </p-row>
            <p-row :gutter="10">
                <p-col span="8">
                    <p-form-item label="入住时间:">
                        {{checkintime}}
                    </p-form-item>
                </p-col>
                <p-col span="8">
                    <p-form-item label="退房时间:">
                        {{checkouttime}}
                    </p-form-item>
                </p-col>
            </p-row>
            <p-form-item label="姓名">
                <p-input style="width: 240px" type="text" :value.sync="CheckInEntity.userName" placeholder="姓名"></p-input>
            </p-form-item>
            <p-form-item label="手机号">
                <p-input style="width: 240px" type="text" :value.sync="CheckInEntity.phone" placeholder="手机号"></p-input>
            </p-form-item>
            <p-form-item label="身份证号">
                <p-input style="width: 240px" type="text" :value.sync="CheckInEntity.userIDNum" placeholder="身份证号"></p-input>
            </p-form-item>
            <p-row :gutter="10">
                <p-col span="8">
                    <p-form-item label="游泳套餐(800¥／7hours)"><!--     -->
                        <p-input-number :value.sync="CheckInEntity.swimming" @keyup="digitalCheck" @blur="digitalCheck" style="width:240px"></p-input-number>
                    </p-form-item>
                </p-col>
                <p-col span="8">
                    <p-form-item label="健身套餐(700¥／week)">
                        <p-input-number :value.sync="CheckInEntity.gym" @keyup="digitalCheck" @blur="digitalCheck" style="width:240px"></p-input-number>
                    </p-form-item>
                </p-col>
            </p-row>
            <p-row :gutter="10">
                <p-col span="8">
                    <p-form-item label="总价">
                        {{totPrice}}
                    </p-form-item>
                </p-col>
                <p-col span="8">
                    <p-form-item>
                        <p-button type="primary" @click="submitFrom">提交</p-button>
                    </p-form-item>
                </p-col>
            </p-row>
        </p-form>
    </div>
</script>
<script type="text/x-template" id="roomsection">
    <div>
        roomsection

    </div>
</script>
<script>
    var LoginView = Vue.extend({
        template: '#register',
        data: function () {
            return {
                ruleInline: {
                    username: [{
                        required: true,
                        message: '请填写用户名',
                        trigger: 'blur',
                    }],
                    password: [{
                        required: true,
                        message: '请填写密码',
                        trigger: 'blur',
                    }, {
                        type: 'string',
                        min: 6,
                        message: '密码长度不能小于6位',
                        trigger: 'blur',
                    }]
                },
                user: {
                    username: '',
                    password: ''
                },
                theme: 'dark',
                loginVisible: true,
                registerVisible: false,
            }
        },
        methods: {
            loginSubmit: function (name) {
                this.$refs[name].validate(function (valid) {
                    if (valid) {
                        this.$http.post('/index/login', this.user).then(function (res) {
                            if (res.body.status == 200) {
                                this.$Message.success('登录成功');
                                document.cookie = "token="+res.body.data;
                                this.$router.go({
                                    path: '/index',
                                    query: {username: this.user.username}
                                });
                            }
                            else {
                                this.$Message.error(res.body.data);
                                this.reset();
                            }
                        });
                    } else {
                        this.$Message.error('表单验证失败!');
                    }
                }.bind(this));
                //bind 是改变一个函数的this指向；这儿就是把function(valid)内部的this指向改成外面vue 的this（this劫持）
            },
            showLogin: function () {
                this.loginVisible = true;
                this.registerVisible = false;
            },
            showRegister: function () {
                this.loginVisible = false;
                this.registerVisible = true;
            },
            reset: function(){
              this.user.username = '';
              this.user.password = '';
            }
        },
    });

    var App = Vue.extend({
        template: '#index',
        data: function() {
            return {
                root: false,
                theme: 'dark',
                register:{
                    username: '',
                }
            }
        },
        created:function () {
            this.register.username=this.$route.query.username;
        },
        methods: {
            CheckInSection: function () {
                this.$router.go({
                    path:'/index/checkinsection',
                    query: {username: this.register.username}
                });
            },
            UnCheckInSection: function () {
                this.$router.go({
                    path:'/index/uncheckinsection',
                    query: {username: this.register.username}
                });
            },
            RoomSection: function () {
                this.$router.go({
                    path:'/index/roomsection',
                    query: {username: this.register.username}
                });
            },
            indexQuery: function () {
                this.$router.go({
                    path:'/index'
                });
            },
            quitQuery: function () {
                this.$http.post('/index/quit', this.register.username);
                this.$router.go({
                    path:'/'
                });
            },
        }
    });
    var checkinsection = Vue.extend({
        template: '#checkinsection',
        data: function() {
            return {
                root: false,
                theme: 'dark',
                register:{
                    username: '',
                }
            }
        },
        created:function () {
            this.register.username=this.$route.query.username;
        },
        methods: {

        }
    });
    var uncheckinsection = Vue.extend({
        template: '#uncheckinsection',
        data: function() {
            return {
                root: false,
                theme: 'dark',
                register:{
                    username: '',
                },
                columns3: [{
                    "title": "房间ID",
                    "key": "roomId",
                    "sortable": false,
                    align: 'center',
                },{
                    "title": "房间类型",
                    "key": "type",
                    "sortable": false,
                    align: 'center',
                },{
                    "title": "操作",
                    "key": "operate",
                    "sortable": false,
                    align: 'center',
                    render: function (row) {
                        return '<p-button @click="detailClick('+row.roomId+')" style="margin-left: 8px" type="primary" size="small">详情</p-button>';
                    }
                }],
                UnCheckInQuery: {
                    type: '',
                    timeBegin: '',
                    timeEnd: '',
                    totalPage: '0',
                    pageIndex: '1',
                    pageSize: '10',
                },
                times:[],
                types: [{
                    value: 'Master room',
                    label: 'Master room'
                },{
                    value: 'Twin room',
                    label: 'Twin room'
                },{
                    value: 'Single room',
                    label: 'Single room'
                }],
                rooms: [],
                room:{
                    roomId: '',
                    roomName: '',
                    pURL: '',
                    type: '',
                    price: '',
                },
                mainModal: true,
                CheckInEntity:{
                    userName: '',
                    userIDNum: '',
                    phone: '',
                    timeBegin: '',
                    timeEnd: '',
                    roomId: '',
                    swimming: 0,
                    gym: 0,
                    totPrice: '',

                },
            }
        },
        created:function () {
            this.register.username=this.$route.query.username;
        },
        computed:{
            checkintime: function(){
                var date;
                if(this.times[0].getDate()<10){
                    date ='0'+ this.times[0].getDate();
                }
                else{
                    date =''+this.times[0].getDate();
                }
                var month;
                if(this.times[0].getMonth()<9){
                    month = '0'+( this.times[0].getMonth()+1);
                }
                else {
                    month =''+ (this.times[0].getMonth()+1);
                }

                var bTime =this.times[0].getFullYear()+"-"+ month+"-" + date;
                return bTime ;
            },
            checkouttime: function(){
                var date;
                if(this.times[1].getDate()<10){
                    date ='0'+ this.times[1].getDate();
                }
                else {
                    date =''+this.times[1].getDate();
                }
                var month;
                if(this.times[1].getMonth()<9){
                    month = '0'+( this.times[1].getMonth()+1);
                }
                else {
                    month =''+ (this.times[1].getMonth()+1);
                }
                 var eTime =this.times[1].getFullYear()+"-"+ month+"-" + date;
                     //this.times[1].getFullYear()+"-"+(Number(this.times[1].getMonth())+1)+"-"+this.times[1].getDate();
                return eTime ;
            },
            totPrice: function () {
                var days = (this.times[1].getTime()-this.times[0].getTime())/1000/60/60/24;
                var totSwimPrice = this.CheckInEntity.swimming * 800;
                var totGymPrice =  this.CheckInEntity.gym * 700;
                this.CheckInEntity.totPrice = this.room.price*days+totGymPrice+totSwimPrice;
                return this.room.price*days+totGymPrice+totSwimPrice;
              //return this.room.price*;
            }
        },
        methods: {
            submitQuery: function(){
                this.UnCheckInQuery.timeBegin = this.times[0];
                this.UnCheckInQuery.timeEnd = this.times[1];
                this.$http.post('/uncheckin/query', this.UnCheckInQuery).then(function (res) {
                    if(res.body.status == 200){
                        this.rooms = res.body.data.results;
                        this.UnCheckInQuery.totalPage = res.body.data.totalPage;
                    }
                });
            },
            detailClick: function(roomId){
                this.$http.get('/room/query/'+ roomId).then(function(res) {
                    if (res.body.status == 200) {
                        this.room = res.body.data;
                        this.mainModal = false;
                    } else {
                        this.$Message.error(res.body.data);
                    }
                });
            },
            reset: function(){
                this.UnCheckInQuery.type = '';
                this.UnCheckInQuery.timeBegin = '';
                this.UnCheckInQuery.timeEnd='';
                this.UnCheckInQuery.totalPage = '0';
                this.UnCheckInQuery.pageIndex = '1';
                this.UnCheckInQuery.pageSize = '10';
            },
            goback: function () {
                this.mainModal = true;
            },
            submitFrom: function () {
                this.CheckInEntity.roomId = this.room.roomId;
                this.CheckInEntity.timeBegin = this.times[0];
                this.CheckInEntity.timeEnd = this.times[1];
                this.$http.post('/uncheckin/checkin', this.CheckInEntity).then(function (res) {
                    if(res.body.status == 200){
                        this.$Message.success(res.body.data);
                    }else{
                        this.$Message.error(res.body.data);
                    }
                });
            }
        }
    });
    var roomsection = Vue.extend({
        template: '#roomsection',
        data: function() {
            return {
                root: false,
                theme: 'dark',
                register:{
                    username: '',
                }
            }
        },
        created:function () {
            this.register.username=this.$route.query.username;
        },
        methods: {

        }
    });
    var Root = Vue.extend({});
    var router = new VueRouter();
    router.map({
        '/': {name: 'main', component: LoginView},
        '/index': {
            component: App,
            subRoutes: {
                '/checkinsection': {name: 'checkinsection', component: checkinsection},
                '/uncheckinsection': {name: 'uncheckinsection', component: uncheckinsection},
                '/roomsection': {name: 'roomsection', component: roomsection},
            }
        },
    });
    router.start(Root, '#root');
</script>

<link href="/css/app.css" rel="stylesheet" type="text/css"/>
</body>
</html>
