
.form{
    background: #464c5b;
    padding: 20px;
    width: max-content;
    position: absolute;
    top: 100px;
    left: 35%;
}

.width{
    width: 100% !important;
}

.pageClass{
    margin: 10px;
}
.button-red{
    background: red;
    color: white;
    float: right;
    border-color: red;
}